body {
    font-family: "Oxygen";
}
.main-container{
    width: 85%;
    margin: 10px auto;
}
.teacher-info {
    background: rgb(245, 245, 245);
    padding: 20px;
    margin: 20px 10px 10px 10px;
    border-radius: 10px;
}
.test-list {
    margin: 10px;
    position: relative;
    top: 75px;
    border: 2px solid rgb(235, 235, 235);
}
.new-test {
    background: #006064;
    float: right;
    border-radius: 10px;
    padding: 5px 5px;
    text-transform: none;
    height: 60px;
    margin: 5px 10px;
    color: white;  
}
.new-test:hover {
    color: white;
    
}
.new-test h5, .new-test i {
    display: inline-block;
}
.new-test h5 {
    position: relative;
    top: 6px;
}
i {
    margin-right: 4px;
    vertical-align: middle;
}
.new-test{
    box-shadow: 1.5px 2.5px 1px rgb(210, 210, 210);
}
.delete-test, button {
    box-shadow: 2px 4px 1px rgb(210, 210, 210); 
}
.new-test:hover, .delete-test:hover, button:hover {
    color: white;
    box-shadow: none;
}
button a:hover{
    text-decoration: none;
    color: white;
}
.delete-test:focus {
    color: white;
}
.test-list-item {
    border: 2px solid rgb(235, 235, 235);
    margin: 5px;
    padding-bottom: 5px;
}
.test-title {
    background: rgb(245, 245, 245);
    padding: 0px 10px;
}
.test-short-desc {
    padding: 0px 10px;
}
.controls {
    text-align: right;
}
.controls button {
    border-radius: 5px;
    padding: 5px 5px;
    text-transform: none;
    height: 50px;
    margin: 10px 10px 5px 10px;
    color: white;
    border: none;
    padding: 0px 10px;
}
.submit-test {
    background: #1565C0;
}
.edit-test {
    background: #689F38;
}
.delete-test {
    background: #DB2828;
}
#teacher-name{
    margin-bottom: 0px;
}
.test-submitted .edit-test button{
    opacity: 0.6;
    box-shadow: none;
} 
/*==============================================================*/
.new-test-form {
    background: white;
    padding: 10px;
    opacity: 1;
    width: 60%;
}

form {
    border: 1px solid rgb(215, 215, 215);
    padding: 20px;
    border-radius: 8px;
}
select: invalid {
    color: grey;
}
.form-item {
    height: 50px;
    width: 100%;
    border: 1px solid rgb(225, 225, 225);
    border-radius: 8px;
    padding: 10px 15px;
    margin: 5px;
    outline: none;
}
textarea {
    height: 100px !important;
    resize: none;
}
.form-controls{
   text-align: center; 
}
.form-button {
    border: none;
    border-radius: 5px;
    height: 40px;
    width: 80px;
    text-align: center;
    padding: 2px;
    margin: 10px;
    text-transform: none;
    color: white;
    font: 16px "Oxygen";
}
.save-button {
    background: #EF6C00;
}
.submit-button {
    background: #01579B;
}
.more-qs-button{
    width: auto;
    padding: 5px 10px;
    background: #388E3C;
    
}
/*==============*/
.dummy-grand{
    display: none;
    position: absolute;
    top: 60px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}
.grand-container {
    margin: 0;
    padding: 10px;
    background: rgb(60, 60, 60);
    display: none;
    position: absolute;
    top: 60px;
    bottom: -140%;
    left: 0px;
    right: 0px;
    opacity: 0.7;
}
