body {
    font-family: "Oxygen";
}
.main-container {
    width: 60%;
    margin: 20px auto;
}
form {
    border: 1px solid rgb(215, 215, 215);
    padding: 20px;
    border-radius: 8px;
}
select: invalid {
    color: grey;
}
.form-item {
    height: 50px;
    width: 100%;
    border: 1px solid rgb(225, 225, 225);
    border-radius: 8px;
    padding: 10px 15px;
    margin: 5px;
    outline: none;
}
textarea {
    height: 200px !important;
    resize: none;
}
.form-controls{
   text-align: center; 
}
button {
    border: none;
    border-radius: 5px;
    height: 40px;
    width: 80px;
    text-align: center;
    padding: 2px;
    margin: 10px;
    text-transform: none;
    color: white;
    font: 16px "Oxygen";
}
.save-button {
    background: #EF6C00;
}
.submit-button {
    background: #01579B;
}
.more-qs-button{
    width: auto;
    padding: 5px 10px;
    background: #388E3C;
    float: right;
}
.marks-input{
    width: 30%;
}
i {
    margin: 4px;
}
