body {
    font-family: "Oxygen";
}
.main-container{
    width: 85%;
    margin: 10px auto;
}
.teacher-info {
    background: rgb(245, 245, 245);
    padding: 20px;
    margin: 20px 10px 10px 10px;
    border-radius: 10px;
    background: #004D40;
    color: white;
    text-shadow: 3px 3px 5px black;
}
#update-info-button {
    width: 150px;
    background: red;
    background: #F9A825;
}
.update-info-form, .ongoing-test-info {
    display: none;
}
#update-info-form {
    border: none;
    padding: 0px;
}
.update-info-form form, .ongoing-test-info {
    margin: 20px auto;
    width: 50%;
    text-align: center;
    position: absolute;
    top: 60px;
    left: 0px;
    right: 0px;
    background: white;
    z-index: 100;
}
.update-info-form form input{
    width: 90%;
}
.update-info-labels {
    line-height: 50px;
    font-weight: 800;
}
.ongoing-test-info {
    padding-bottom: 20px;
}
.test-list {
    margin: 10px;
    position: relative;
    top: 75px;
    border: 2px solid rgb(235, 235, 235);
}
.new-test {
    background: #3E2723; 
    float: right;
    border-radius: 10px;
    padding: 5px 5px;
    text-transform: none;
    height: 60px;
    margin: 5px 10px;
    color: white;  
}
.new-test:hover {
    color: white;
    
}
.new-test h5, .new-test i {
    display: inline-block;
}
.new-test h5 {
    position: relative;
    top: 6px;
}
i {
    margin-right: 4px;
    vertical-align: middle;
}
.main-container button, .new-test-form button {
    box-shadow:  0px 8px 6px -6px black;
}
.new-test:hover, .delete-test:hover, button:hover {
    color: white;
    box-shadow: none;
}
button a:hover{
    text-decoration: none;
    color: white;
}
.delete-test:focus {
    color: white;
}
.test-list-item {
    border: 2px solid rgb(235, 235, 235);
    margin: 5px;
    padding-bottom: 5px;
}
.test-title {
    background: rgb(245, 245, 245);
    padding: 0px 10px;
}
.test-short-desc {
    padding: 0px 10px;
}
.profile-controls, .controls {
    text-align: right;
}
.controls button {
    border-radius: 5px;
    padding: 5px 5px;
    text-transform: none;
    height: 50px;
    margin: 10px 10px 5px 10px;
    color: white;
    border: none;
    padding: 0px 10px;
}
.submit-test {
    background: #1565C0;
}
.edit-test {
    background: #689F38;
}
.delete-test {
    background: #DB2828;
}
.fa-hourglass-start, .fa-hourglass-end {
    font-size: 30px;
    padding: 5px 0;
}
.start-test {
    height: 120px;
    width: 180px;
    float: left;
    background: #212121;
    font-size: 23px;
    padding: 5px 0;
}
#teacher-name{
    margin-bottom: 0px;
}
.test-submitted .edit-test button{
    opacity: 0.6;
    box-shadow: none;
} 
/*==============================================================*/
.new-test-form {
    background: white;
    padding: 10px;
    padding-bottom: 0px;
    opacity: 1;
    width: 60%;
    margin: 10px auto;
}
form {
    border: 1px solid rgb(215, 215, 215);
    padding: 20px;
    border-radius: 8px;
}
select: invalid {
    color: grey;
}
.form-item {
    height: 50px;
    width: 100%;
    border: 1px solid rgb(225, 225, 225);
    border-radius: 8px;
    padding: 10px 15px;
    margin: 5px;
    outline: none;
}
.question input {
    box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.5);
}
textarea {
    height: 100px !important;
    resize: none;
}
.form-controls{
   text-align: center; 
}
.form-button {
    border: none;
    border-radius: 5px;
    height: 40px;
    width: 80px;
    text-align: center;
    padding: 2px;
    margin: 10px;
    text-transform: none;
    color: white;
    font: 16px "Oxygen";
}
.close-this {
    text-align: right;
}
.escape-test-form-button, .escape-start-test {
    background: #DB2828;
}
.save-button {
    background: #EF6C00;
}
.submit-button {
    background: #01579B;
}
.more-qs-button{
    width: auto;
    padding: 5px 10px;
    background: #388E3C;
    
}
.row {
    margin: 0px;
}
#question1, .more-qs-container {
    display: inline-block;
    width: 100%;
}
.question input {
    border: 1px solid rgb(55, 55, 55);
}
.question .qs_title {
    font-size: 18px;
    font-weight: 400;
}
/*==============*/
.dummy-grand{
    display: none;
    position: absolute;
    top: 60px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}
.grand-container {
    margin: 0;
    padding: 10px;
    background: rgb(60, 60, 60);
    display: none;
    position: absolute;
    top: 60px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    opacity: 0.7;
}
.random-class {
    margin: 0;
    padding: 10px;
    background: rgb(60, 60, 60);
    display: none;
    position: absolute;
    top: 60px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    opacity: 0.7;
}