body {
    margin: 0;
    padding: 0;
    
}
nav {
    
    padding-right: 10px;
    padding-bottom: 10px;
    font: 20px "Muli";
    margin: 0;
    background: #E0E0E0;
    height: 35px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    width: 100%;
}
ul {
    display: inline-block;
    margin: 5px;
    padding: 5px;
}
li {
    display: inline-block;
    text-decoration: none;
    padding-left: 14px;
    padding-right: 14px;
}
li a {
    text-decoration: none;
    color: inherit;
    border-right: 0.2px;
    border-color: lightcyan;
    border-style: groove;
    border-left: 0px;
    border-top: 0px;
    border-bottom: 0px;
    padding-right: 25px;
}
.on-right {
    float: right;
}
ul li a:hover{
    color:grey;
    
}
button {
    background: #DB2828;
    border: none;
    border-radius: 4px;
    width: 100px;
    height: 30px;
    color: white;
    font: 20px "Muli";
    margin: 6px;
    padding: 3px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);

}
.bm{
    background-color: white;
    box-shadow: none;
    float: right;

    
}
li .on-right: active{
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4) inset;
        background-color: black;
        transform: scale(0);

}

.test{
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        margin: 10px 10px;
        padding: 10px;
        
}
.questions{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    margin-bottom: 10px;
    border-width: 1px;
    border-bottom-color: grey;
    padding: 10px;

}
.questions: active{
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4) inset;

}
.bm: hover{
    color: lawngreen;
}
.bm{
    float: right;
    font-size: 50px;
    color: lawngreen;
    
}
.bm i:fixed{
    color: lawngreen;
} 
.myclass {
    color: blue;
}
.color{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    text-align: center;
    margin-bottom: 2px;

 
}
.side{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    padding: 5px;
    
}
#red{
    width:10px;
    background-color: red;
    height:10px;
}
#yellow{
    width:10px;
    background-color: yellow;
    height:10px;
}
#green{
    width:10px;
    background-color: green;
    height:10px;
}
#black{
    width:10px;
    background-color: black;
    height:10px;
}
#clear{
    float:right;
    margin-bottom: 10px;
    background-color: green;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);

}
.row{
    top:1000px;
}