.performa-container {
    margin: 20px auto;
    text-align: center;
    width: 70%;
    padding: 5px 20px;
    border: 2px solid rgb(230, 230, 230);
}
.performa-title {
    width: 100%;
    background: rgb(235, 235, 235);
}