.performa-container {
    margin: 20px auto;
    text-align: center;
    width: 90%;
    border: 2px solid #9C27B0;
    box-shadow: inset 0 0 10px #9C27B0;   
    font-family: "Raleway";
    z-index: 10;
    position: absolute;
    top: 60px;
    right: 0;
    left: 0;
    background: white;
    display: none;
   
}
.performa-container .performa-title {
    width: 100%;
    background: rgb(235, 235, 235);
    margin-bottom: 0px;
    background: #9C27B0;
    color: white;
    font-family: fantasy;
}
.performa-container .columns, .performa-container .row {
}
.students-list .student:nth-of-type(odd) {
    background: #fff9c4;
    color: black;
}
.students-list .student:nth-of-type(even) {
    background: #f9ab25;
    color: white;
}
.row > .columns {
    margin: 10px;
}
.headings {
    background: #9C27B0;
    color: white;
    font: 24px "Lobster";
}
#download-performa {
    border: none;
    background: #795548;
    color: white;
}