body {
    margin: 0;
    padding: 0;
}
nav {
    border: 1px solid rgb(245, 245, 245);
    padding-right: 10px;
    font: 20px "Oxygen";
    margin: 0;
    background: rgba(0, 0, 0, 0.05);
    overflow: hidden;
}
ul {
    display: inline-block;
    margin: 5px;
    padding: 5px;
}
li {
    display: inline-block;
    text-decoration: none;
    padding-left: 14px;
    padding-right: 14px;
    height: inherit;
}
ul li:hover {
    background: white;
    color: red;
}
a {
    text-decoration: none;
    color: inherit;
}
.on-right {
    float: right;
}
#logout, #register {
    background: #DB2828;
    border: none;
    border-radius: 4px;
    width: 100px;
    height: 40px;
    color: white;
    font: 20px "Oxygen";
    margin: 6px;
    text-transform: none;
    padding: 0px 0px;
}
.separator {
    margin-right: 25px;
    border-right: 2px solid rgb(200, 200, 200); 
}