.login-main-container, .register-main-container {
    width: 100%;
    margin: 100px auto;
    text-align: center;
}

form {
    padding: 5px 20px;
}
#login-teacher-form, #login-student-form, #register-teacher-form, #register-student-form {
    display: inline-block;
}
input {
    width: 240px;
}
.register-main-container {
    display: none;
}
.register-main-container input {
    width: 350px;
}
button {
    width: 170px;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    border: none;
}
#login-teacher-form, #register-teacher-form {
    border-right: 1px solid rgb(220, 220, 220);
}
#register {
    box-shadow: 0px 8px 6px -6px black;
    width: auto;
}
#login {
    margin: 10px;
    background: #DB2828;
    color: white;
}
#register:hover {
    color: white;
    box-shadow: none;
}
#login-student, #register-student {
    background: #F57F17;
    color: white;
    box-shadow: 0px 8px 6px -6px black;
}
#login-teacher, #register-teacher {
    background: #7CB342;
    color: white;
    box-shadow: 0px 8px 6px -6px black;
}