.mega-container{
	margin: 100px auto;
	width: 60%
}

.login-main-container{
	width: 100%;
}

.register-main-container{
	width: 100%;
	display: none;
}

form{
	display: inline-block;
	margin: auto;
	width: 49%;
	text-align: center;
	box-shadow: 0px 1px 10px rgba(0,0,0,0.27);
	padding: 20px 0px;
}

form:nth-of-type(1){
	border-right: 3px solid rgba(0,0,0,0.3);
}

div.login-main-container input {
  padding: 10px;
  border: solid 1px rgba(0,0,0,0.3);
  box-shadow: 0 0 5px 1px #969696;	
  transition: box-shadow 0.3s, border 0.3s;
  margin-bottom: 30px;
  width: 80%;
  height: 8%;
  font-size: 1.2em;	
}


div.register-main-container select,
div.register-main-container select option,
div.register-main-container input{
  padding: 10px;
  border: solid 1px rgba(0,0,0,0.3);
  box-shadow: 0 0 5px 1px #969696;	
  transition: box-shadow 0.3s, border 0.3s;
  margin-bottom: 30px;
  width: 90%;
  height: 5%;
  font-size: 1.2em;		
}

div.register-main-container select{
    height: 6%;
    padding: 0px;
}

div.register-main-container select:focus,
div.register-main-container input:focus,
div.login-main-container input:focus{
	border: solid 1px #707070;
  box-shadow: inset 0 0 2px 1px #707070;
}

div.register-main-container select:active,
div.register-main-container input:active,
div.login-main-container input:active{
	border: solid 1px #707070;
  box-shadow: inset 0 0 2px 1px #707070;
}


div.mega-container button{
	
	border-radius: 4px;
	height: 7%;
	border:none;
	color:white;
	font-size:1.2em;
	text-shadow: 0px 0px 1px rgba(0,0,0,0.9);
	box-shadow: 2px 2px 6px rgba(0,0,0,0.6);
}

div.mega-container button:active{
	box-shadow: none;
}

.register-student,
.login-student{
	background-color: #388E3C;
}

.register-teacher,
.login-teacher{
	background-color: #03A9F4;
}

@media (max-device-width : 700px ){
	
	.mega-container{
		margin: 150px auto;
		width: 100%;
	}
	
	.login-main-container{
		width: 100%;
	}

	.register-main-container{
		width: 100%;
		display: none;
	}
	
	form{
	display: block;
		width: 90%;
		box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
		margin-bottom: 10px;
	}
	form:nth-of-type(1){
		border-bottom: none;
	}	
	
	div.mega-container button{
	
	border-radius: 4px;
	height: 7%;
	border:none;
	color:white;
	font-size:2.2em;
	text-shadow: 0px 0px 1px rgba(0,0,0,0.9);
	box-shadow: 2px 2px 6px rgba(0,0,0,0.6);
	}

	div.mega-container button:active{
		box-shadow: none;
	}

	.register-student,
	.login-student{
		background-color: #388E3C;
	}

	.register-teacher,
	.login-teacher{
		background-color: #03A9F4;
	}
	
		div.login-main-container input {
	  padding: 10px;
	  border: solid 1px rgba(0,0,0,0.3);
	  box-shadow: 1 1 5px 1px #969696;	
	  transition: box-shadow 0.3s, border 0.3s;
	  margin-bottom: 30px;
	  width: 90%;
	  height: 10%;
	  font-size: 2.2em;	
	}
        
        div.register-main-container select,
        div.register-main-container input{
	  padding: 10px;
	  border: solid 1px rgba(0,0,0,0.3);
	  box-shadow: 1 1 5px 1px #969696;	
	  transition: box-shadow 0.3s, border 0.3s;
	  margin-bottom: 30px;
	  width: 90%;
	  height: 10%;
	  font-size: 2.2em;	
	}
        
        
        div.register-main-container select{
        height: 6%;
        padding: 0px;
        }
        
        div.register-main-container select:focus,
	div.register-main-container input:focus,
	div.login-main-container input:focus{
		border: solid 1px blue;
	  box-shadow: inset 0 0 2px 1px blue;
          height: 10%;
	  font-size: 2.2em;
	}

        div.register-main-container select:focus,
	div.register-main-container input:active,
	div.login-main-container input:active{
		border: solid 1px blue;
	  box-shadow: inset 0 0 2px 1px blue;
          height: 10%;
	  font-size: 2.2em;
	}
	
}
