body {
    margin: 0;
    padding: 0;
    width: 100%;
}
nav {
    
    padding-right: 10px;
    padding-bottom: 10px;
    font: 20px "Muli";
    margin: 0;
    background: #E0E0E0;
    height: 35px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    width: 100%;
}
ul {
    display: inline-block;
    margin: 5px;
    padding: 5px;
}
li {
    display: inline-block;
    text-decoration: none;
    padding-left: 14px;
    padding-right: 14px;
}
li a {
    text-decoration: none;
    color: inherit;
    border-right: 0.2px;
    border-color: lightcyan;
    border-style: groove;
    border-left: 0px;
    border-top: 0px;
    border-bottom: 0px;
    padding-right: 25px;
}
.on-right {
    float: right;
    right: 20px;
}
ul li a:hover{
    color:grey;
    
}
button {
    background: #DB2828;
    border: none;
    border-radius: 4px;
    width: 100px;
    height: 30px;
    color: white;
    font: 20px "Muli";
    margin: 6px;
    padding: 3px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);

}
.bm{
    background-color: white;
    box-shadow: none;
    float: right;

    
}
li .on-right: {
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4) inset;
        background-color: black;
        transform: scale(0);

}

.test{
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        margin: 10px 10px;
        padding: 10px;
        
}
.questions{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    border-width: 1px;
    border-bottom-color: grey;
    padding: 50px;
    font-size: 20px;
    font-family: sans-serif;
    margin-top: 50
}
.question-panel{
    margin-top: 10px;
    margin-right: 0px;
}
.bm: hover{
    color: lawngreen;
}
.bm{
    float: right;
    font-size: 50px;
    color: lawngreen;
    position: relative;
    top: -70px;
    
}
.bm i:fixed{
    color: lawngreen;
} 
.myclass {
    color: blue;
}
.color{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    text-align: center;
    margin-bottom: 2px;
    float: left;
    width: 50px;
    height: 25px;
    padding: 5px;
    margin-right: 10px;
 
}
.side{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    padding: 5px;
    
}
ansclass{
    background-color: white;
}
#limegreen{
    width:10px;
    background-color: limegreen;
    height:10px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
}
#white{
    width:10px;
    background-color: white;
    height:10px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
}
#orange{
    width:10px;
    background-color: orange;
    height:10px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
}
#blue{
    width:10px;
    background-color: blue;
    height:10px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
}
#clear{
    float:right;
    margin-bottom: 10px;
    background-color: green;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    cursor: pointer;

}



a.control_prev, a.control_next {
  position: absolute;
  top: 7em;

  z-index: 999;
  display: block;
  width: auto;
  height: auto;
  text-decoration: none;
  cursor: pointer;
}

a.control_prev:hover, a.control_next:hover {
  opacity: 0.5;
  transition: all 0.2s ease;
}

a.control_prev {
  border-radius: 0 2px 2px 0;
}
#slider{
    position: relative;
    
}
a.control_next {
  border-radius: 2px 0 0 2px;
    position: relative;
    float: right;
}
.right-panel{
    float: right;
    width: 30%;
    position: relative;
    margin-top: -450px;
    right: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    padding: 10px;

}
.container{
    float: left;
    width: 100%;
}

#time{
    position: relative;
    background-color: limegreen;
    color: white;
    padding: 10px;
    widows: 70%;
    text-align: center;
    font-size: 50px;
    
}
.try{
    background-color: black;
    height: 50%;
}
@media(max-device-width: 700px){
    .toggle{
        display: block;
        height: 80%;
        width: 10%;
    }
    
    nav{ 
    padding-top: 20px;
    padding-bottom: 0px;
    position: fixed;
    top:0px;
    z-index: 1000;
    height: 100px;
    width: 100%;
    margin: 0 auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    }
    
    .qt{
        font-size: 60px;
        color: black;
        margin: 2px;
    }
    	
    li.on-right button{
        width: 60%;
        height: 40px;
        margin: 0px;
        padding: 1px
    }
    
    
    
  .icon {
    
  }
  .list-item { 
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    top: -32px;
    background-color: #E0E0E0;
    display: none;
    text-align: center;
    border:none;

  }
  .list-item li {
    font-size: 60px;
    height:80px;
    text-align: center;
    padding: 5px;  
    margin: 10px;   
    display: block;
    float: none;
    box-shadow: none;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 3px;
    box-shadow: 0px 0px 2px rgba(0,0,0,0.2);
  }
    .list-item li a{
        border:none;
    }
    
    li.on-right button{
        font-size: 50px;
        height: 90%;
    }
   
    .icon{
        height: 30px;
        box-shadow:none;
    }
    
    .line{
	margin: 20% 10%;
	padding: 0px;
	border-top-style: solid;
	border-top-width: 2px;
	border-top-color: black;
	width: 80%;
}
    body{
        width: 100%;
        height: 100%;
    }
}

#ques2,#ques3{
    display: none;
}
